* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

form{
	background: #880e4f;
	margin: auto;
	width: 50%;
	max-width: 560px;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.2);
}
