*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*!
 * Contenedor para administrador
 */
.contenedor{
	/* Localización de la imagen que se utilizara de fondo */
	background-image: url('../img/fondo.jpg');
	/* Define como se repiten los fondos del documento */
	background-repeat: no-repeat;
	/* Estira la imagen sin dejar espacios en blanco */
	background-size: cover;
	/* Posición inicial de la imagen de fondo */
	background-position: center;
	/* Mantiene la imagen fija aunque el contenedor se mueva */
	background-attachment: fixed;
	margin: 0;
	min-height:100vh;
	max-width: 100%;
}
/*!
 * Contenedor para cocinero
 */
.contenedores{ 
	background-image: url('../img/cocinero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	min-height:100vh;
	max-width: 100%;
}
/*!
 * Contenedor para bartender
 */
.conten{
	background-image: url('../img/bartender.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	min-height:100vh;
	max-width: 100%;
}
/*!
 * Contenedor para bodega
 */
.con{
	background-image: url('../img/bodega.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	min-height:100vh;
	max-width: 100%;
}
/*!
 * Contenedor para garzon
 */
.conte{
	background-image: url('../img/garzon.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	min-height:100vh;
	max-width: 100%;
}
/*!
 * Contenedor para caja
 */
.contene{
	background-image: url('../img/caja.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	min-height:100vh;
	max-width: 100%;
}

