* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.contenedor{
	background-image: url(img/lujo.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center; 
}

body{
	min-height: 100vh; 
	float: right;
}

form{
	background: #000000;
	margin: 30px;
	width: 100%;
	max-width: 560px;
	padding: 30px;
	border: 2px solid black;
	border-color: white; 
	border-radius: 20px;
	background-position: right;
}

h4{
	text-align: center;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.5);
	font-family: 'Open Sans';
}

input{
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;
}

input[type="submit"]{
	background: linear-gradient(#7DCEA0, #145A32);
	border: 0;
	color: #17202A;
	font-weight: bold;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}

input[type="submit"]:hover {
	opacity: 1;
}

input[type="submit"]:active {
	transform: scale(0.95);
}

@media(max-width: 768px){
	form{
		width: 75%
	}
}

@media(max-width: 480px){
	form{
		width: 95%
	}
}
